@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "맑은 고딕";
  color: #333;
}
html,
body {
  background-color: #fff;
  font-size: 20px;
}
a {
  text-decoration: none;
  display: block;
}
/* 모달창 */
.modal{
  width: 100%;
  height: 100%;
position: fixed;
top: 0;
left: 0;
z-index:999999;
background-color: rgba(0, 0, 0, 0.5);
display: none;
}
.modal-wrap{
  width: 700px;
  height: 500px;
  position: absolute;
  top: 50%;
left: 50%;
transform: translate(-50% , -50%);
background-color: #fff;
padding: 70px;
text-align: center;

}
.modal-wrap p{
  margin-top: 30px;
  line-height: 1.5;
}
.modal-wrap h3{
  margin-bottom: 30px;
}
/* 제이쿼리에서 클래스를 더해서 모달이보기게함 */
.modal.active{
  display: block;
}
.close{
  padding: 10px 20px;
  background-color: #585555;
  width: 100px;
  color: #fff;
position: absolute;
bottom: 30px;
right: 30px;
}
/* 전체레이아웃 */
.wrap {
  width: 100%;
}
header {
  width: 100%;
  background-color: #585555;
}
.header-inner {
  width: 1200px;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
/* logo */
.logo {
    width: 200px;
    background-color: rgb(180, 208, 234);
    padding-top: 15px;
  }
  .logo a img {
    width: 100%;
  }
  .menu {
    position: relative;
    width: 950px;
    background-color: aquamarine;
    text-align: center;
  }
  .navi {
    position: absolute;
    right: 30px;
    width: 700px;
    display: flex;
    background-color: #ffffff;
    margin-top: 40px;
  }
  .navi > li {
    width: calc(100% / 4);
    position: relative;
    line-height: 40px;
  }
  .navi > li > a {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    background-color: #333;
    color: #fff;
  }
  .navi > li:hover > a {
    background-color: #117488;
  }
  /* .navi > li > a:hover {
    background-color: #117488;
  } */
  /* .navi:hover .submenu {
    display: block;
  } */
   /* .navi > li > a:hover + .submenu{
    display: block;
   } */
   /* .navi > li:hover .submenu{
    display: block;
   } */
   /* .navi:hover .submenu{
    display: block;
   } */
  .submenu {
  position: relative;
    background-color: #feb2b2;
    z-index: 1;
    display: none;
    width: 175px;
    height: 200px;
  }
  .submenu > li > a {
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
  }
  .submenu > li > a:hover {
    background-color: cornflowerblue;
  }
/* main */
.bodyWrap {
  width: 1200px;
  height: 500px;

  margin: auto;
}
.imgslide {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.slidelist {
  display: flex;
  position: relative;
  height: 100%;
}
.slidelist li {
  position: relative;
  height: 100%;
}
.slidelist li a {
  position: relative;
  width: 1200px;
}
.slidelist li a img {
  height: 100%;
}
.slidelist li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  color: #fff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 콘텐츠 */
.contents {
  width: 1200px;
  height: 200px;
  display: flex;
  position: relative;
}
/* 공지사항/갤러리 */
.tabmenu {
  width: 395px;
  display: flex;
  padding: 5px 0;
}

.tabmenu > li {
  width: 100px;
  line-height: 30px;
  height: 30px;
}
.tabmenu > li div{
    position: absolute;
left: 0;
height: 0;
overflow: hidden;
}
.tabmenu > li.active div{
    width: 393px;
    height: 148px;
    border: 1px solid #ddd;
}
.tabmenu > li > a {
  font-size: 16px;
  text-align: center;
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #ccc;
}
.tabmenu > li > a:hover {
  background-color: #eee;
}
.tabmenu > li.active > a {
  background-color: #fff;
}
/* 공지사항 영역 */
.notice ul{
    width: 393px;
    padding: 10px;
}
.notice ul li{
    line-height: 32px;
    font-size: 15px;
    padding: 0 10px;
    
}
.notice ul li:nth-child(2n){
    background-color: #ccc;
}
/* 갤러리 영역 */
.gallery{

}
.gallery ul{
    padding: 20px 10px;
    width: 393px;
    display: flex;
gap: 10px;
}
.gallery ul li {
    width: calc(100% / 3);
}
.gallery ul li a image{
    width: 100%;
}
/* 배너/바로가기 */
/* 배너 /바로가기 쌤이 한것
.otherWrap {
  width: calc(1200px - 395px);
  display: flex;
  background-color: #feb2b2;
  position: relative;
}
.banner,
.shortcut {
  width: 50%;
  height: 200px;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.banner a ,.shortcut a{
  position: relative;
 height: 100%;

}
.banner a h4 , .shortcut a h4 {
  font-size: 15px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:10px 30px;
  background-color: rgba(0, 0, 0, 0.5);

}
.banner a img,.shortcut a img {
  width: 100%;
  height: 100%;
} */

.atherwrap {
  display: flex;
  position: relative;

}
.banner , .shortcut{
  height: 200px;
}
.banner , .shortcut img{
  height: 100%;
}
.banner{
    position:relative;
    padding: 3px 0;
}
.banner h4{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50% -50%);
    background-color: rgba(0, 0, 0, 0.3);
color: #fff;
padding: 10PX 110PX;
}
.shortcut{
    position:relative;
    padding: 3px;
}
.shortcut h4{
    position: absolute;
    top: 40%;
    left: 13%;
    transform: translate(-50% -50%);
    background-color: rgba(0, 0, 0, 0.3);
color: #fff;
padding: 10PX 110PX;
}
/* 하단 */
/* footer 쌤이한거 */
/* .footer {
  width: 100%;
  height: 100px;
  background-color: #117488;
}
.footer-inner {
  width: 1200px;
  height: 100%;
  background-color: #ccc;
  margin: auto;
  display: flex;
} */
/* ftlogo */
/* .ft-logo {
  width: 200px;
  height: 100px;
  padding: 20px;
}
.ft-logo a {
  width: 100%;
  height: 100%;
}
.ft-logo a img {
  width: 100%;
  height: 100%;
} */
/* ft-site */
/* .ft-site {
  width: 1000px;
  height: 100%;
  background-color: #feb2b2;
  text-align: center;
}
.ft-menu,
.copy {
  width: 100%;
  height: 50px;
  background-color: #664545;
  color: #ccc;
  font-size: 14px;
}
.ft-menu ul {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.ft-menu ul li a{
  font-size: 14px;
  color: #ccc;
}
.copy{
  line-height: 50px;
} */
.footer{
    width: 100%;
    background-color: #585555;
    position: relative;
    height: 100px;
}
.footerwrap{
    display: flex;
    width:1200px;
    height: 100%;
    margin: auto;
background-color: rgb(47, 127, 247);
}
/* <!-- 하단로고 --> */
.f-logo{
    width: calc(100% / 2);
    position: relative;
}
.f-logo img{
  width: 30%;
margin: 5px;
position: absolute;
top: -7px;
left: 50px;
}
.footer-div{
    text-align: center;
}
.f-menu ul {
        display: flex;
}
.f-menu ul li{
    margin: 10px;
    font-size: 14px;
}
/* 하단출처 */
.copy{
    margin: 10px;
    font-size: 14px;
}